source /boot/grub/config.cfg

menuentry "Start TechBench" --hotkey=s {
    linux @KERNEL_LIVE@ @APPEND_LIVE@
    initrd @INITRD_LIVE@
}

menuentry "TechBench Safe Graphics Mode" {
    linux @KERNEL_LIVE@ @APPEND_LIVE_FAILSAFE@
    initrd @INITRD_LIVE@
}

if @ENABLE_MEMTEST@; then
    source /boot/grub/memtest.cfg
fi

submenu "Advanced Options" {

    source /boot/grub/theme.cfg

    if [ "${grub_platform}" = "efi" ]; then
        menuentry "UEFI Firmware Settings" {
            fwsetup
        }
    fi

    if @ENABLE_VERIFY_CHECKSUMS@; then
        menuentry "Verify TechBench Boot Media" {
            linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
            initrd @INITRD_LIVE@
        }
    fi
}
